<div class="row">
    <div class="col-xs-12">
        <h1>{{ 'MENU' | translate }}</h1>
        <titulo>{{ 'MENU' | translate }}</titulo>
        <parrafo>{{ 'GALLIA' | translate }}</parrafo>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <libro datos="{'color':'red', 'cursor':'pointer'}" texto="{{ 'NUEVO_LIBRO' | translate }}"></libro>
    </div>
</div>
<div class="row">
    
    <div class="col-xs-3">
        <a role="button" href class="btn btn-default" ng-click="$ctrl.loadContent();" >{{ 'CARGAR' | translate }}</a>
    </div>
    <div class="col-xs-9">
        <ul class="list-group" ng-if="$ctrl.libros.length > 0">
            <li  class="list-group-item" ng-repeat="libro in $ctrl.libros">
                {{ 'AUTOR' | translate }}:</b> {{libro.autor}}</p>
                <p><b>{{ 'TITULO' | translate }}:</b> {{libro.titulo}}</p>
            </li>
        </ul>
    </div>
</div>