.hasDatepicker {
    width: 235px;
    z-index: 10000;
}

.hasDatePicker tbody tr:hover {
    background-color: $color-comun-fondo;
}

.ui-datepicker.ui-widget-content {
    border: 1px solid #aaaaaa;
    color: #222222;
    border: 5px solid $color-comun-fondo;
    outline: 1px solid #c4d7e5;
    padding: 10px 15px;
    background: #fff linear-gradient(#f6f8f9 0px, #fff 53px, #fff 70px, #ddd 71px, #fff 71px, #fff 99.6%, transparent 99.6%, transparent) repeat scroll 0 0;
    display: none;
    font-size: 11px;
    margin: 0 0 0 -25px;

    a {
        color: #222222; 
    }
    .ui-widget-header {
        color: #222222; 
        font-weight: bold;
        a {
            color: #222222;
        } 
        .ui-icon {
            background-image: url(../images/flechasCalendario.png);
        }

    }
    
    .ui-datepicker-prev { 
        left:10px; 
    }
    .ui-datepicker-next { 
        right:10px; 
    }
    .ui-datepicker-title { 
        margin: 0 2.3em; 
        line-height: 1.8em; 
        text-align: center; 

        select { 
	        line-height: normal;
	        margin: 1px 2px;
	        padding: 2px;
	        border:none;
	        @include linear-gradient($init-grad-input 0%, $end-grad-input 40%);
	        border-color: $border-common-formulario;
	        border-image: none;
	        @include border-radius(3px);
	        border-right: 1px solid $border-common-formulario;
	        border-style: solid;
	        border-width: 2px 1px 1px;
	        white-space: nowrap;
	        overflow-x: hidden;
	        text-overflow: ellipsis;
        }

        select.ui-datepicker-month-year {
            width: 100%;
        }


        select.ui-datepicker-month, .ui-datepicker select.ui-datepicker-year { 
            width: 44%;
        }
    }

    .ui-datepicker-header {
        margin-bottom: 10px; 
        padding:.2em 0; 
        position:relative; 

	    .ui-datepicker-prev, .ui-datepicker-next { 
	        position:absolute; 
	        top: 5px;  
	        border: 1px solid #b6ceea;
	        @include border-radius(5px);
	        background: #FDFEFE;
	        padding: 3px;
	        cursor: pointer;

	        span {
	            display: block; 
	            position: absolute; 
	            left: 50%; 
	            margin-left: -12px; 
	            top: 50%; 
	            margin-top: -6px;  
	        }
	    }
    }

    table.ui-datepicker-calendar {

        background-color:transparent;
        width: 100%; 
        border-collapse: collapse; 
        margin:0 0 .4em; 

        height: auto;

        tr:hover { 
            background:transparent; 
        }

        thead {
            th {
                border: 0;  
                color: #666;
                font-weight: bold; 
                padding-bottom: 20px;
                text-align: center;
                text-transform: uppercase;
            }
        }
        tbody {
            td {
                span, a {
                    display: block;
                    font-weight: bold;
                    text-align: center; 
                    text-decoration: none;

                    &:hover {
                        background: #EEEEEE; 
                        color: #00A9E8;
                    }
                }
                border: 0;
            }

        }
    }

    .ui-icon { 
        display: block; 
        text-indent: -99999px; 
        overflow: hidden; 
        background-repeat: no-repeat; 
		width: 23px; 
		height: 23px; 
    }
    .ui-state-default {
        font-weight: normal;
        text-align: center; 
        color: #00A9E8; 
        padding: 5px;
        height: 23px;
        width: 23px;

        a, a:link, a:visited {
            color: #555555; 
            text-decoration: none; 
        }
    }
    .ui-state-hover, .ui-state-focus {
        /*border: 1px solid #999999; 
        font-weight: normal; 
        color: #212121;*/
        background: #EEEEEE;
    }
    .ui-state-hover {
        a, a:hover {
            color: #212121; 
            text-decoration: none; 
        }
    }
    .ui-state-active {
        background: #00A9E8; 
        font-weight: normal; 
        color: #FFFFFF; 

        a, a:link, a:visited {
            color: #FFFFFF; 
            text-decoration: none; 
        }

    }
	.ui-state-disabled { 
		cursor: default !important; 
		filter:Alpha(Opacity=35); 
		background-image: none; 

		span.ui-state-default {
			color: #999999;
		}
	}
	.ui-state-highlight {
		border: 1px solid #00A9E8;
	}
}

.ui-helper-clearfix:before, .ui-helper-clearfix:after { 
    content: ""; 
    display: table; 
}
.ui-helper-clearfix:after { 
    clear: both; 
}
.ui-helper-clearfix { 
    zoom: 1; 
}

.ui-corner-all, .ui-corner-top, .ui-corner-left, .ui-corner-tl {
	@include border-radius(4px);
}
.ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr {
	@include border-radius(4px);
}
.ui-corner-all, .ui-corner-bottom, .ui-corner-left, .ui-corner-bl { 
	@include border-radius(4px);
}
.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br { 
	@include border-radius(4px);
}
.ui-icon-circle-triangle-e {
	background-position: -24px 0px;
}