/// Helper para la generación de los radios con prefijos
/// @param {String} $radius - Número + 'px' que representa el radio deseado
/// @example scss - Uso
///    border-radius(4px)
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

/// Helper para la generación de los radios con prefijos cuyas curvas no son idénticas
/// @param {String} $radius1 - Número + 'px' que representa el radio deseado para top left
/// @param {String} $radius2 - Número + 'px' que representa el radio deseado para top right
/// @param {String} $radius3 - Número + 'px' que representa el radio deseado para bottom left
/// @param {String} $radius4 - Número + 'px' que representa el radio deseado para bottom right
/// @example scss - Uso
///    border-radius(4px)
@mixin border-radius-not-equal($radius1, $radius2, $radius3, $radius4) {
  border-top-left-radius: $radius1;
  border-top-right-radius: $radius2;
  border-bottom-right-radius: $radius3;
  border-bottom-left-radius: $radius4;
}

/// Helper para la generación de los bordes y fondos de las alertas
/// @param {Color} $color-borde - Número en hexadecimal para el color del borde
/// @param {Color} $color-background - Número en hexadecimal para el color de fondo
/// @example scss - Uso
///   border-alertas(#fbbd2c, #fbf1d0)
@mixin border-alertas($color-borde, $color-background) {
	border: 1px solid $color-borde;
	background-color: $color-background;
}

/// Helper para la generación de degradados con prefijos
/// @param {Color} $fromColor - Número en hexadecimal para el color de partida del degradado
/// @param {Color} $toColor - Número en hexadecimal para el color final del degradado
/// @example scss - Uso
///   linear-gradient(#317C37, #245C28)
@mixin linear-gradient($fromColor, $toColor) {
  background-color: $toColor; /* navegadores antiguos*/
  background-image: -webkit-gradient(linear, left top, left bottom, from($fromColor), to($toColor)); /* Saf4+, Chrome */
  background-image: -webkit-linear-gradient($fromColor, $toColor); /* Chrome 10+, Saf5.1+, iOS 5+ */
  background-image:    -moz-linear-gradient($fromColor, $toColor); /* FF3.6 */
  background-image:     -ms-linear-gradient($fromColor, $toColor); /* IE10 */
  background-image:      -o-linear-gradient($fromColor, $toColor); /* Opera 11.10+ */
  background-image:         linear-gradient($fromColor, $toColor);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#{$fromColor}', EndColorStr='#{$toColor}');
}

/// Helper para la generación de sombras con prefijos
/// @param {String} $top - Posición por arriba de la sombra
/// @param {String} $left - Posición a la izquierda de la sombra
/// @param {String} $blur - Número en hexadecimal para el color de partida del degradado
/// @param {Color} $color - Número en hexadecimal para el color de la sombra
/// @param {Boolean} $inset [false] - Booleano que establece si la sombra es por dentro (true) o fuera (false)
/// @example scss - Uso
///   box-shadow(0px 10px 5px #888888, false)
@mixin box-shadow($top, $left, $blur, $color, $inset: false) {
  @if ($inset) {
    -webkit-box-shadow:inset $top $left $blur $color;
    -moz-box-shadow:inset $top $left $blur $color;
    box-shadow:inset $top $left $blur $color;
  } @else {
    -webkit-box-shadow: $top $left $blur $color;
    -moz-box-shadow: $top $left $blur $color;
    box-shadow: $top $left $blur $color;
  }
}

/// Helper para la converión de tamaños de fuentes de px a rem
/// @param {String} - Tamaño en píxeles de la fuente
/// @example scss - Uso
///  font-size(14px) {
/// @output
///   p {
///     font-size: 14px; //Se sobreescribirá si el navegador admite unidades rem
///     font-size: 0.8rem;
///   }
@mixin font-size($size) {
  font-size: $size;
  font-size: calculateRem($size);
}

/// Helper para la creación de animaciones mediante transiciones
/// @param {Object} - Objeto con los argumentos necesarios para la animación
/// @example scss - Uso
///    a {
///     color: gray;
///     @include transition(color .3s ease);
///     &:hover {
///       color: black;
///     }
///   }
@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}

/// Helper para la creación de columnas de la misma altura
/// @example scss - Uso
///    div {
///     margin-left: 0;
///     @include display-flex();
///   }
@mixin display-flex() {
  display:  -webkit-box;
  display: -webkit-flex;
  display:  -ms-flexbox;
  display:         flex;
  flex-wrap: wrap;
}