//Variables personalizadas BBVA

/// Color predefinido para el texto general de la aplicación
///
/// @type Color
$color-body: #333 !default;

/// Color gris común para el texto general
///
/// @type Color
$color-comun-grey: #666 !default;

/// Tamaño común para h1
///
/// @type String
$size-comun-h1: 22px !default;

/// Tamaño común para h2
///
/// @type String
$size-comun-h2: 18px !default;

/// Tamaño texto común
///
/// @type String
$size-comun-text: 12px !default;

/// Color fondo comun
///
/// @type String
$color-comun-fondo: #fff !default;

/// Color fondo blanco
///
/// @type String
$color-comun-fondo-blanco: #009EE5 !default;


/// Color fondo componentes 'resumen'
///
/// @type Color
$color-fondo-resumen: #eff1f0 !default;

/// Tamaño del texto h2 y h3 para popover y título resumen
///
/// @type String
$size-popover-h: 16px !default;

/// Tamaño del texto h5 título resumen en modales
///
/// @type String
$size-modal-h: 14px !default;

/// Color 'desde' degradado principal de 'button'
///
/// @type Color
$init-gradient-button: #498c20 !default;

/// Color 'hasta' degradado principal de 'button'
///
/// @type Color
$end-gradient-button: #317c37 !default;

/// Color borde principal de 'button'
///
/// @type Color
$border-common-button: #317c37 !default;

/// Color borde principal de 'button'
///
/// @type Color
$border-azul-button: #00559d !default;

/// Color borde azul del onfocus de 'button'
///
/// @type Color
$border-button-focus-azul: #003c6f !default;


/// Color borde azul del onfocus de 'button' blanco
///
/// @type Color
$border-button-focus-blanco: #b5cde8 !default;

/// Color 'desde' degradado onfocus de 'button'
///
/// @type Color
$init-gradient-button-focus: #317C37 !default;

/// Color 'hasta' degradado onfocus de 'button'
///
/// @type Color
$end-gradient-button-focus: #245C28 !default;

/// Color 'desde' degradado azul de 'button'
///
/// @type Color
$init-gradient-button-azul: #0079c1 !default;

/// Color 'hasta' degradado azul de 'button'
///
/// @type Color
$end-gradient-button-azul: #00559d !default;

///////////////////////////////

/// Color 'desde' degradado blanco de 'button'
///
/// @type Color
$init-gradient-button-blanco: #fff !default;

/// Color 'hasta' degradado blanco de 'button'
///
/// @type Color
$end-gradient-button-blanco: #f7f7f7 !default;

//////////////////////////////







/// Color 'desde' degradado azul de 'button'
///
/// @type Color
$init-gradient-disabled-button-azul: #66add8 !default;

/// Color 'hasta' degradado azul de 'button'
///
/// @type Color
$end-gradient-disabled-button-azul: #6699e4 !default;

/// Color de borde de los botones azules inhabilitados
///
/// @type Color
$border-disabled-button-azul: #6699c4 !default;

/// Color de letra de los botones azules inhabilitados
///
/// @type Color
$color-disabled-button-azul: #f0f4ef !default;

/// Color 'hasta' degradado azul de 'button'
///
/// @type Color
$border-disabled-button-azul: #6699c4 !default;

/// Color borde azul de 'button'
///
/// @type Color
$border-common-button: #00559d !default;

/// Color 'desde' degradado onfocus de 'button'
///
/// @type Color
$init-gradient-button-focus-azul: #0069b1 !default;

/// Color 'hasta' degradado onfocus de 'button'
///
/// @type Color
$end-gradient-button-focus-azul: #004b8c !default;


/// Color 'desde' degradado onfocus de 'button'
///
/// @type Color
$init-gradient-button-focus-blanco: #fff !default;

/// Color 'hasta' degradado onfocus de 'button'
///
/// @type Color
$end-gradient-button-focus-blanco: #e8ebeb !default;





/// Tamaño del texto de los botones .grandeAzul
///
/// @type String
$size-botones-grandeAzul: 13px !default;

/// Grosor de texto para botones grandeAzul
///
/// @type String
$weight-botones-grandeAzul: bold !default;

/// Grosor del borde para popover
///
/// @type String
$border-popover-weight-common: 2px;

/// Tamaño del texto preloading para popover
///
/// @type String
$size-popover-preloading: 13px !default;

/// Tamaño del texto preloading para popover
///
/// @type String
$size-popover-form-titulo: 13px !default;

/// Color para el borde de los popover
///
/// @type String
$border-popover-color: #b5e5f9 !default;

/// Color de las flechas popover
///
/// @type String
$color-popover-arrow: #b5e5f9 !default;

/// Grosor del borde de los modales
///
/// @type String
 $border-modal-weight-common: 4px !default;


 /// Modal color
 ///
 /// @type Color
$modal-backdrop-bg: #eee !important;

 /// Modal opacity
 ///
 /// @type Number
$modal-backdrop-opacity: .5 !default;

/// Color del borde de los modales
///
/// @type String
$border-modal-color: #009EE5 !default;

/// Color borde comun de 'formulario'
///
/// @type Color
$border-common-formulario: #d5d5d5 !default;

/// Color borde comun de 'formulario' focus
///
/// @type Color
$border-focus-formulario: #DEF4FB !default;

/// Color borde comun de 'formulario' focus
///
/// @type Color
$background-focus-formulario: #FFFFF5 !default;

/// Color init gradiente input
///
/// @type Color
$init-grad-input: #ededed !default;

/// Color end gradiente input
///
/// @type Color
$end-grad-input: #fefefe !default;

/// Color a href componente 'formulario'
///
/// @type Color
$color-formulario-a: #00a9e8 !default;

/// Color label componente 'formulario'
///
/// @type Color
$color-formulario-label: #434a58 !default;

/// Color borde errores con clase .error del componente 'formulario'
///
/// @type Color
$borde-formulario-error: #c4136c !default;

/// Color borde errores  .error del componente 'draganddrop'
///
/// @type Color
$draganddrop-error: #C8175E !default;

/// Color borde errores con clase .error del componente 'formulario'
///
/// @type Color
$background-formulario-error: #f7e9e9 !default;

/// Color borde cajas OK
///
/// @type Color
$border-OK: #94b74c !default;

/// Color background cajas OK
///
/// @type Color
$back-OK: #d1e0b2 !default;

/// Color borde cajas info
///
/// @type Color
$border-info: #fbbd2c !default;

/// Color background cajas info
///
/// @type Color
$back-info: #fbf1d0 !default;

/// Color borde cajas warning
///
/// @type Color
$border-warning: #d8b6c7 !default;

/// Color background cajas warning
///
/// @type Color
$back-warning: #fceaea !default;

/// Color gris varios
///
/// @type Color
$common-grey: #ccc !default;

/// Color gris bordes
///
/// @type Color
$border-grey: #ddd !default;

/// puntos suspensivos (círculos) para desplegables en modales
///
/// @type String
$puntos-circ: "\25CF\25CF\25CF" !default;

/// Color borde pestaña
///
/// @type Color
$color-borde-pestania-a: #dcdcdc !default;

/// Color background pestaña
///
/// @type Color
$color-pestania-a: #fafbfc !default;

/// Color background pestaña activa
///
/// @type Color
$color-pestania-a-active: #f4f7f5 !default;

/// Tamaño común para h1
///
/// @type String
$size-lista-pestania-a: 13px !default;

/// Color hover azul
///
/// @type Color
$color-hover-azul: #E5F6FD !default;

/// Color azul botones resúmenes
///
/// @type Color
$color-azul-button-res: #069EDF !default;


/// Color de los importes negativos en las tablas
///
/// @type Color
$color-numero-neg: #bc0067 !default;

/// Color de los bordes y el titulo de las tablas 
///
/// @type Color
$color-detalle-tabla: #e0e4e1 !default;

/// Color de fondo del "Ver más" y el subtitulo de las tablas
///
/// @type Color
$color-fondo-agregados-tabla: #f0f2ef !default;

/// Color de fondo del "Ver más" y el subtitulo de las tablas
///
/// @type Color
$color-texto-agregados-tabla: #999999 !default;

/// Color de fondo de las cabeceras de las tablas
///
/// @type Color
$color-fondo-cabeceras-tabla: #f8f8f5 !default;

/// Color de fondo de las cabeceras de las tablas
///
/// @type Color
$color-letras-cabecera-tabla: #757575 !default;

/// Tamaño titulos de la cabecera de la tabla
///
/// @type String
$size-letra-tabla: 11px !default;

/// Tamaño del texto del "Ver más"
///
/// @type String
$size-ver-mas: 12px !default;

/// Tamaño del título de los detalle
///
/// @type String
$size-detalle-h5: 18px !default;

/// Tamaño del título de los paneles
///
/// @type String
$size-titulo-panel: 13px !default;

/// Color del los detalles del componte de incorporación
///
/// @type Color
$color-detalles-incorporacion: #009EE5 !default;

/// Color de las líneas de los resúmenes de confirmación
///
/// @type Color
$color-detalle-resumen-confirmacion: #E4E4E4 !default;

/// Color texto de los resúmenes de confirmación
///
/// @type Color
$color-text-resumen-confirmacion: #434a58 !default;

/// Fuente por defecto
///
/// @type Color
$font-family-sans-serif: Helvetica, Arial, sans-serif !default;
