<div class="row">
    <div class="col-xs-3">
        <boton on-load="$ctrl.loadContent()">{{ 'CARGAR' | translate }}</boton>
    </div>
    <div class="col-xs-9">
        <lista-grupo libros="$ctrl.libros">
            <lista-elemento></lista-elemento>
        </lista-grupo>
    </div>
</div>