<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
  </head>
  <body ng-app="app">
    <div class="container">
        <div class="row">
            <div class="col-md-12" ng-controller="EscritoresListadoCtrl">
                <h1>EJEMPLO {{(5 - 4) / 1}}</h1>
                <div>

                    <ul class="list-group">
                        <li class="list-group-item" ng-repeat="m in model">
                            <button class="btn btn-danger btn-xs pull-right" ng-click="eliminar($index)" type="button">Eliminar</button>
                            <b>{{ m.nombre }}</b> {{ m.apellido }}
                        </li>
                    </ul>
                    <hr>
                    <form class="form-inline" ng-submit="registrar()">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Nombre" ng-model="nombre">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Apellido" ng-model="apellido">
                        </div>
                        <button type="submit" class="btn btn-default">Agregar</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12" ng-controller="EscritoresListadoCtrl">
                <h1>EJEMPLO {{(5 - 4) / 1 + 1}}</h1>
                <input type="text" ng-model="modelo">
                {{modelo}}
            </div>
        </div>
    </div>

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap.js"></script>
    <script src="bower_components/angular-aria/angular-aria.js"></script>
    <script src="bower_components/angular-messages/angular-messages.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="bower_components/angular-translate/angular-translate.js"></script>
    <script src="bower_components/angular-translate-loader-url/angular-translate-loader-url.js"></script>
    <script src="bower_components/angular-translate-loader-static-files/angular-translate-loader-static-files.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-translate-storage-cookie/angular-translate-storage-cookie.js"></script>
    <script src="bower_components/angular-translate-storage-local/angular-translate-storage-local.js"></script>
    <script src="bower_components/angular-translate-loader-partial/angular-translate-loader-partial.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <script src="controllers/controller.js"></script>


</body>
</html>
