<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="../styles/main.css">
  </head>
  <body ng-app="app">
    <div class="container">
        <div class="row">
            <div class="col-md-12" ng-controller="EscritoresListadoCtrl">
                <h1>EJEMPLO {{(5 - 4) / 1}}</h1>
                <div>

                    <ul class="list-group">
                        <li class="list-group-item" ng-repeat="m in model">
                            <button class="btn btn-danger btn-xs pull-right" ng-click="eliminar($index)" type="button">Eliminar</button>
                            <b>{{ m.nombre }}</b> {{ m.apellido }}
                        </li>
                    </ul>
                    <hr>
                    <form class="form-inline" ng-submit="registrar()">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Nombre" ng-model="nombre">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Apellido" ng-model="apellido">
                        </div>
                        <button type="submit" class="btn btn-default">Agregar</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12" ng-controller="EscritoresListadoCtrl">
                <h1>EJEMPLO {{(5 - 4) / 1 + 1}}</h1>
                <input type="text" ng-model="modelo">
                {{modelo}}
            </div>
        </div>
    </div>

 <script data-require="jquery@2.2.0" data-semver="2.2.0" src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>

    <script data-require="angular.js@1.5.x" src="https://code.angularjs.org/1.5.5/angular.js" data-semver="1.5.5"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.5/angular-cookies.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/1.3.3/ui-bootstrap-tpls.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-translate/2.11.0/angular-translate.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-translate/2.11.0/angular-translate-loader-partial/angular-translate-loader-partial.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-translate/2.11.0/angular-translate-loader-static-files/angular-translate-loader-static-files.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-translate/2.11.0/angular-translate-loader-url/angular-translate-loader-url.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-translate/2.11.0/angular-translate-storage-cookie/angular-translate-storage-cookie.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-translate/2.11.0/angular-translate-storage-local/angular-translate-storage-local.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/danialfarid-angular-file-upload/12.0.4/ng-file-upload.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/ngMask/3.1.1/ngMask.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.3.1/angular-ui-router.min.js"></script>

    <script src="controllers/controller.js"></script>



</body>
</html>
