body {
    .containerDragAndDrop {
        border: 2px dashed $color-detalles-incorporacion;
        border-radius: 6px;
        color: #666;
        cursor: pointer;
        margin-top:15px;
        padding: 30px 10px;
        padding-bottom: 0;
        text-align: center;
        &.error {
            border: 2px dashed $draganddrop-error;
            p{color: $draganddrop-error;}
        }
        .indicadorEstado {
            color: $color-detalles-incorporacion;
            p {
                font-size: 12px;
                margin-bottom: 0;
                &:first-of-type {
                    font-size: 16px;
                    font-weight: bold;
                    margin-top: 3px;
                }
            }
            ul.listaFicheros {
                border-top: 2px solid #dedede;
                color: #666;
                margin-top: 20px;
                padding-top: 8px;
                list-style: none;
                padding-left: 0;
                text-align: left;
                li {
                    width: 100%;
                    a {
                        float: right;
                    }
                }
            }

            .estadoInicial, .cargandoFichero {
            	padding-bottom: 30px;
            }
        }
    }
}
