button {
        font-weight: normal;
        height: 22px;
        padding: 1px 5px;
        font-size: $size-comun-text;
        color: $color-comun-fondo;
        @include linear-gradient($init-gradient-button, $end-gradient-button);
        border: 1px solid $border-common-button;
        @include border-radius(2px);
        margin-left: 5px;
       /* vertical-align: bottom;*/

        &.botonIcono span{
           margin-right:5px;
        }

     
        &:hover,&:focus{            
            cursor: pointer;
            @include linear-gradient($init-gradient-button-focus, $end-gradient-button-focus);
            border: 1px solid $border-common-button;
        }
}

/* Botones de color azul **/
.azul {
    @include linear-gradient($init-gradient-button-azul, $end-gradient-button-azul);

    color: $color-comun-fondo;
    border: 1px solid $border-button-focus-azul;
    
    &:hover, &:focus {
        @include linear-gradient($init-gradient-button-focus-azul, $end-gradient-button-focus-azul);
        border: 1px solid $border-button-focus-azul;
    }
}
button.azulDisabled {
    @include linear-gradient($init-gradient-disabled-button-azul, $end-gradient-disabled-button-azul);

    color: $color-disabled-button-azul;
    border: 1px solid $border-disabled-button-azul;

    &:hover, &:focus {
        @include linear-gradient($init-gradient-disabled-button-azul, $end-gradient-disabled-button-azul);
        border: 1px solid $border-disabled-button-azul;
    }

}
/* Botones de color blanco **/
.blanco {
    @include linear-gradient($init-gradient-button-blanco, $end-gradient-button-blanco);

    color: $color-comun-fondo-blanco;
    border: 1px solid $border-button-focus-blanco;
    
    &:hover, &:focus {
        @include linear-gradient($init-gradient-button-focus-blanco, $end-gradient-button-focus-blanco);
        border: 1px solid $border-button-focus-blanco;
    }
}
button.blancoDisabled {
    @include linear-gradient($init-gradient-disabled-button-azul, $end-gradient-disabled-button-azul);

    color: $color-comun-fondo-blanco;
    border: 1px solid $border-button-focus-blanco;

    &:hover, &:focus {
        @include linear-gradient($init-gradient-disabled-button-azul, $end-gradient-disabled-button-azul);
        border: 1px solid$border-button-focus-blanco;
    }

}
/* Botones azules grandes**/
button.pequeAzul {
    @extend .azul;
    @include border-radius(2px);
    font-size: $size-botones-grandeAzul;
    font-weight: $weight-botones-grandeAzul;
    height: 25px; 
    line-height: 14px;
    margin:0;
    vertical-align: baseline;
    
    img {
        vertical-align: text-top;
    }
}
button.grandeAzul {
    @extend .azul;
    @include border-radius(2px);
    font-size: $size-botones-grandeAzul;
    font-weight: $weight-botones-grandeAzul;
    height: 30px; 
    line-height: 14px;
    margin: 5px 0 5px 10px;
    vertical-align: baseline;
    
    img {
        vertical-align: text-top;
    }
}
button.grandeBlanco {
    @extend .blanco;
    @include border-radius(2px);
    font-size: $size-botones-grandeAzul;
    font-weight: $weight-botones-grandeAzul;
    height: 30px; 
    line-height: 14px;
    margin: 5px 0 5px 10px;
    vertical-align: baseline;
    
    img {
        vertical-align: text-top;
    }
}
/* Botones azules claros grandes en resumenes**/
button.grandeResumen{
    margin: 0px;
    padding: 0px 10px 0px 10px; 
    @include border-radius(0px);
    background: $color-azul-button-res;
    border-color: $color-azul-button-res;
}
/* Esta clase se pone en el contenedor del boton,no en el boton mismo **/
.btnSubmit {
    margin-top:10px;
    text-align:right;
}

/* Enlaces a la derecha (Imagen1-enlace1 | Imagen2-enlace2...), usados en cabecera de paneles, por ejemplo **/
div.enlacesImagen {
    text-align: right;
    font-size: $size-comun-text;

    a {
        margin-right: 5px;
        margin-left: 5px;
        position: relative;

        img{
            padding-right:5px;  
        }
    }
}