<div class="row">
    <div class="col-xs-12">
        <filtrado texto="{{ 'FILTRAR' | translate }}" filter-libros="$ctrl.query"></filtrado>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <lista-grupo libros="$ctrl.libros" filter-libros="$ctrl.query">
            <lista-elemento></lista-elemento>
        </lista-grupo>
    </div>
</div>