
<li class="list-group-item" ng-repeat="libro in $ctrl.libros  | filter:$ctrl.query" >
    {{ 'AUTOR' | translate }}:</b> {{libro.autor}}</p>
    <p><b>{{ 'TITULO' | translate }}:</b> {{libro.titulo}}</p>
</li>