div.tituloTabla {
	background: $color-detalle-tabla;
	border-bottom: 1px solid $common-grey;
	@include border-radius-not-equal(5px, 5px, 0, 0);
	margin-left: 0;
	width: 100%;


	h2,h3,h4,h5{
	  font-weight: bold;
	  margin: 13px 0px 13px 0px;
	  font-size: $size-letra-tabla;
	  color: $color-body;
	}
	
	p{  
	  margin: 13px 13px 13px 0px;
	}

	p.subtitulo {
		color:$color-comun-grey;
		font-size:$size-letra-tabla;
		margin-top:-12px;
	}

	div:last-child{
	  text-align:right;
	  font-size: $size-letra-tabla;
	  font-weight:bold;
	  color:$color-comun-grey;
	}
	div:first-child{
	  text-align:left;  
	}
  }

/* Subtitulo **/
  div.subtituloTabla {
	background: $color-fondo-agregados-tabla;
	border-bottom: 2px solid $common-grey;
	margin: 0;  
	
	& > div:last-child ul {
	  float:right;
	  margin:0;   
	  ul{
		float:none;
	  }
	}
	ul.contenedorDrop{ 
	  margin-bottom: 0;
	  list-style: none;
	  padding-left: 0;
	  li{
		margin: 5px 0;
		display: inline-block;

		button.btnAniadir {
			background-image: url("../images/aniadirOrden.png");
			background-repeat: no-repeat;
			background-position: 98% 50%;
			float:left;
			
			span { 
				margin-right: 15px;
			}
		}
		button.btnEditar {
			background-image: url("../images/icono_editar.png");
			background-repeat: no-repeat;
			background-position: 90% 50%;
			padding-right: 10px;

			span { 
				margin-right: 15px;
			}
		}
		button.btnEliminar {
			background-image: url("../images/icono_eliminar.png");
			background-repeat: no-repeat;
			background-position: 90% 50%;
			padding-right: 10px;

			span { 
				margin-right: 15px;
			}
		}
	  }
	  ul.list-unstyled li {
	  	display: block;
	  }

	  p.debeSeleccionar {
	  	font-size: $size-letra-tabla;
	  	margin: 4px 0 0 0;
	  }
	} 
	/* Cuadro de buscar en tablas **/
	li.search {
		border-right: 1px solid $common-grey;
		input.inpSearchConFondo{
		  background: $color-comun-fondo url("../images/lupaNegro.png") no-repeat scroll 98% 50% / 14px;
		  padding: 0px 20px 0px 4px;
		  height:23px;
		  margin-bottom:0px;
		  margin-left:5px;
		  margin-right: 5px;
		  
		  &:focus{
			background: $background-focus-formulario url("../images/lupaNegro.png") no-repeat scroll 98% 50% / 14px;
			outline: 0;
			-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
			box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6); 
		  }
		}
	}
    ul { list-style-type: none;}
  }

/* Estilos de la tabla **/
table.table {
	background-color: $color-comun-fondo;
	border-spacing: 0px;
	border-collapse: inherit;
	color: $color-body;
	font-size: $size-letra-tabla;
	font-weight: normal;
	width: 100%;
	border: 0 none transparent;
	border-bottom: 1px solid $color-detalle-tabla;

	input[type|=checkbox], table input[type|=radio] {
		margin: 0px 5px;
		top: 0px;
	}
	thead{
		tr{
			th:last-child{
				border-right: 0 none transparent;
			}
			th {
				background: $color-fondo-cabeceras-tabla;
				border-bottom: 1px solid $color-detalle-tabla;
				border-right: 1px solid $color-detalle-tabla;
				border-top: 1px solid $color-detalle-tabla;
				color: $color-comun-grey;
				height: 32px;
				text-align: left;
				text-transform: uppercase;
				padding-left: 15px;
				padding-right: 15px;

				&.sinBordeLateral{
					background-image: none;
					border-right: 0;
					padding: 0 0 0 15px;
					width:50px;
					input[type="checkbox"] {
						margin-bottom: 9px;
						margin-right: 15px;
					}
				}
			}
		}
	}
	tbody{
		tr.enEspera td {
			text-align: center;
			span { 
				background:transparent url("../images/loadingBbva.gif") no-repeat scroll 0% 50% / 18px;
				padding: 20px;
			}
		}
		tr{  
			&:hover{
				background-color: $color-hover-azul;

			}     
			&:focus{           
				background-color: $color-hover-azul;
			}
			
			td{
				display: table-cell;
				height: 32px;
				padding: 4px;
				vertical-align: inherit;
				border-right: 0 none transparent;
				padding-left: 15px;
				padding-right: 15px;

				&.selectora{
					padding-left: 6px;
					width: 5px;
				}
				&.datoNum {
					text-align: right;
				}
				.datoNumNegativo {
					color: $color-numero-neg;
					text-align: right;
				}
				&.noElementos {
					border-bottom:2px solid $common-grey;
					color: $color-comun-grey;
					font-weight: bold;
				}
				.negative {
					color:$color-numero-neg;
				}
				&.edicionInLine {
					width: 70px;

					a.confirmar {
						margin-left: 5px;
					}
				}
				&.contenidoDesplegado {
					border-bottom: 2px solid $common-grey;
					border-top: 2px solid $common-grey;
					padding:0;
				}
			}
		}
	}
	caption, tfoot {
		display: none;
	}
}
div.table-responsive {
	overflow-x: visible; 
	margin-bottom:0;
	margin-left:0;

	.col-xs-12 {
		padding-left:0;

		table {
			margin-bottom: 0;
		}
	}
}
table.table-sorter thead tr th {
	background:$color-fondo-cabeceras-tabla url("../images/bck_orderComplete.gif") 100% 50% no-repeat;
	&.headerAsc {
		background:$color-fondo-cabeceras-tabla url("../images/bck_orderAsc.gif") 100% 50% no-repeat;
	}
	&.headerDesc {
		background:$color-fondo-cabeceras-tabla url("../images/bck_orderDesc.gif") 100% 50% no-repeat;
	}
	&.headerNone {
		background:$color-fondo-cabeceras-tabla;
		width: 10px;
	}
}
/** Estilos de la capa de ordenación ***/

table.table-sorter th {
    cursor: pointer;
    padding:0;
}

th .popover {
    background: transparent;
    border: none;
    border-radius: 0;
    margin-left: 0;

	&.bottom {
		 margin-top: 0;
	}
    .arrow {
        display: none;
    }
    .popover-content {
        padding: 9px 6px 0;
    }
    ul.ordenacion {
        list-style: none;
        margin-bottom: 0;
        padding: 10px 10px 0;
        vertical-align: top;
        display: inline-block;
        background: $color-fondo-agregados-tabla;
        border: 1px solid $common-grey;

        &.verColumnas {
            position: relative;
            left: -4px;
            li {
                padding-left: 5px;
            }
        }
        
        li {
        	white-space: nowrap;
            &:hover {
                background-color: $border-grey;
            }
            cursor: pointer;
            height: 20px;
            margin-bottom: 0;
            margin-bottom: 5px;
            padding-left: 25px;
            &.descendente {
                background: transparent url("../images/ordenarZA.png") no-repeat 0 0;
            }
            &.ascendente {
                background: transparent url("../images/ordenarAZ.png") no-repeat 0 0;
            }
            &.ocultarColumnas {
                background: transparent url("../images/filtrarColumnas.png") no-repeat 0 0;
            }
        }
    }
}

/* Ver mas ordenes **/
div.verMas {
	background: $color-fondo-agregados-tabla;
	border-bottom: 2px solid $common-grey;
	font-size: $size-ver-mas;
	font-weight:bold;
	margin:0;
	padding:7px;
	text-align:center;

	div.textVerMas {
		display:inline;
		span {
			background:$color-fondo-agregados-tabla url("../images/ver_mas_gris.png") no-repeat scroll 98% 50% / 14px;
			color: $color-texto-agregados-tabla;
			margin-right: 15px;
			padding-right: 20px;
		}
		a.linkVerMas {
			background:$color-fondo-agregados-tabla url("../images/ver_mas.png") no-repeat scroll 98% 50% / 14px;
			margin-right: 15px;
			padding-right: 20px;
		}
	}
}