<navegacion></navegacion>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<div class="row">
    <div class="col-xs-12">
        <titulo>{{ 'MENU' | translate }}</titulo>
        <parrafo>{{ 'GALLIA' | translate }}</parrafo>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <libro datos="{'color':'red', 'cursor':'pointer'}" texto="{{ 'NUEVO_LIBRO' | translate }}"></libro>
    </div>
</div>

<listado dataservice="dataservice" libros="$ctrl.libros" config-app="configApp"></listado>

<form name="userForm" class="form-horizontal" role="form" data-method="POST" ng-submit="$ctrl.submitForm(userForm)" novalidate>
    <div class="row">
        <div class="col-xs-12">
            <titulo>{{ 'FORMULARIO' | translate }}</titulo>
        </div>
    </div>
    <div class="form-group">
        <label for="autor" class="col-xs-12 col-sm-4 control-label">* {{'AUTOR' | translate}}:</label>
        <div class="col-xs-12 col-sm-8">
            <input type="text" class="form-control" id="autor" name="autor" value=""
            ng-model="$ctrl.userForm.autor"
            required
            minlength="5"
            >
            <div ng-messages="userForm.autor.$error" role="alert">
                <div ng-message="required">{{'CAMPO_OBLIGATORIO' | translate}}</div>
                <div ng-message="minlength">{{'CAMPO_CORTO' | translate}}</div>
            </div>
            <pre>userForm.autor.$error = {{ userForm.autor.$error | json }}</pre>
        </div>
        <label for="titulo" class="col-xs-12 col-sm-4 control-label">* {{'LIBRO' | translate}}:</label>
        <div class="col-xs-12 col-sm-8">
            <input type="text" class="form-control" id="titulo" name="titulo" value=""
                ng-model="$ctrl.userForm.titulo"
                required
                alfabetic
            >
            <div ng-messages="userForm.titulo.$error" role="alert">
                <div ng-message="required">{{'CAMPO_OBLIGATORIO' | translate}}</div>
                <div ng-message="alfabetic">{{'CAMPO_ALFABETICO' | translate}}</div>
            </div>
            <pre>userForm.titulo.$error = {{ userForm.titulo.$error | json }}</pre>
        </div>
        <div class="row">
             <div class="col-xs-12">
                <button type="submit" class="btn btn-primary pull-right" ng-disabled="userForm.$invalid"><span>{{'GUARDAR' | translate}}</span></button>
             </div>
        </div>
    </div>
</form>