<navegacion></navegacion>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<div class="row">
    <div class="col-xs-12">
        <titulo>{{ 'ABOUT' | translate }}</titulo>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <parrafo>{{ 'GALLIA' | translate }}</titulo>
    </div>
</div>