<div class="row">
    <div class="col-xs-12">
        <h1>{{ 'MENU' | translate }}</h1>
        <titulo>{{ 'MENU' | translate }}</titulo>
        <parrafo>{{ 'GALLIA' | translate }}</parrafo>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <libro texto="{{ 'NUEVO_LIBRO' | translate }}"></libro>
        <div libro texto="{{ 'NUEVO_LIBRO' | translate }}"></div>
    </div>
</div>
