    /* Elementos de formulario **/
    input[type|="text"], input[type|="password"], input[type|="email"], input[type|="tel"], textarea {
        @include linear-gradient($init-grad-input 0%, $end-grad-input 20%);
        border-color: $border-common-formulario;
        border-image: none;
        @include border-radius(3px);
        border-right: 1px solid $border-common-formulario;
        border-style: solid;
        border-width: 2px 1px 1px;
        font-size: $size-comun-text;
        padding: 1px 10px;
        clear: both;
        height: 28px;
        width:220px;
        line-height: 21px;
        &.iban {
            clear:none;
            width:60px;
            &.dc {
                width:40px;
            }
        }
        &:focus{
            border: 2px solid $border-focus-formulario;
            background: $background-focus-formulario;
            box-shadow: none;
        }
        &[readonly] {
            @include linear-gradient($init-grad-input 0%, $end-grad-input 40%);
        }
    }
    .search-table {
        input{
            height:20px;
            width:130px;
        }
    }
    textarea.form-control {
        @include linear-gradient($init-grad-input 0%, $end-grad-input 15%);
        resize: none;
    }

    input[type="radio"], input[type="checkbox"] {
        line-height: normal;
        box-sizing: border-box;
        padding: 0;
        margin-right:5px;
        
        /* Quitar el resaltado de los elementos **/
        &:focus {
            outline: none;
        }
    }
    
    a {
        color: $color-formulario-a;
        cursor:pointer;
        
        &:hover,&:focus {
            color: $color-formulario-a;
            outline: none;
        }
    }

form, div[role="form"] {
    .control-label { padding:0;

    }
    label {
        font-weight: normal;
        color: $color-formulario-label;
    }

    .form-group {
        margin-bottom: 10px;
        .col-xs-12, .col-sm-8 {
            padding-left:10px;
        }
        
    }

    .form-control{
        color: $color-comun-grey;
        margin-right:5px;
        /*padding: 0 0 0 4px;*/
        font-size: $size-comun-text;
    }

    select.form-control {
        font-size: $size-comun-text;
        height: 28px;
        line-height: normal;
        padding: 1px 10px;
        width:210px;
        border:none;
        @include linear-gradient($init-grad-input 0%, $end-grad-input 40%);
        border-color: $border-common-formulario;
        border-image: none;
        @include border-radius(3px);
        border-right: 1px solid $border-common-formulario;
        border-style: solid;
        border-width: 2px 1px 1px;
        white-space: nowrap;
        overflow-x: hidden;
        text-overflow: ellipsis;
        &.small {
            width:60px;
        }
    }
    select[multiple]{
        width: 100%;
        height: 100%;
    }
    div.input-group{
        display: inline-flex;

        select{margin-right:10px;}
        input{margin-right:10px;}

        input.ctaBanco{
            width: 55px;
        }
        .form-control { z-index:1;}
    }
    div.fechaGroup {
        label {margin-right: 5px;}
        input {display: inline; width: 80px; text-align:center;}
        button {display: inline; vertical-align: initial;}
        input + button + input{margin-left:20px;}
        input + button + label{margin-left:20px;}
    }
    div.seleccionGroup {
        margin-right: 15px;
        margin-left: 15px;
        padding-bottom: 10px;

        input[type="radio"] {position: relative; top:3px;}
    }
    .radio-inline input[type="radio"], .checkbox-inline input[type="checkbox"] {
        top: 5px;
    }
    .radio input[type="radio"], .checkbox input[type="checkbox"] {
        bottom: 5px;  
    }
    .radio label span, .checkbox label span{
        padding-left: 5px;
        vertical-align:text-bottom;
    }
     
    &.form-horizontal table {
        .radio, .checkbox {
            min-height: 0;
        }
        td .form-group{
            margin: 0px 0px 5px 0px;
            .checkbox{
                padding-top:0px;
            }
        }
        td:nth-child(2) .form-group{
            margin-top: 10px;
        }
    }
}

.popover form, .modal form{ 
    textarea.form-control { width:280px; } 

    label h3 {margin-bottom:5px}
}

.form-control.error[readonly] { 
    border:2px solid $borde-formulario-error;
    background: none repeat scroll 0 0 $background-formulario-error;
}

form input.error, form select.error {

    border:2px solid $borde-formulario-error;
    background: none repeat scroll 0 0 $background-formulario-error;
}

input.fecha {
    background-image: url("../images/calendarInput.png");
    background-position: 98% 50%;
    background-repeat: no-repeat;
    background-size: 14px auto;
    width: 100px;

    &:focus{
        background-image: url("../images/calendarInput.png");
        background-position: 98% 50%;
        background-repeat: no-repeat;
        background-size: 14px auto;
        border-color: $border-focus-formulario;
    }

    &.form-control.error {
        background: $background-formulario-error url("../images/calendarInput.png") no-repeat scroll 98% 50% / 14px;
        border:2px solid $borde-formulario-error;
    }
}