div.otrasAccionesContainer {
	li {margin-top:5px;}
	a {
		padding: 0px 0 5px 22px;
		&.imprimir{
			background: transparent url("../images/imprimirGris.png") no-repeat 0 center;
		}
		&.email{
			background: transparent url("../images/emailGris.png") no-repeat 0 center;
		}
		&.incorporar{
			background: transparent url("../images/incorporar.png") no-repeat 0 center;
			padding-top:5px;
		}
	}
}

a.otrasAcciones {
	padding: 4px 0 2px 18px;
	background: transparent url("../images/otrasAcciones.png") no-repeat 0 center;

}

