<div class="row">
    <div class="col-xs-12">
        <p>{{ 'FILTRAR' | translate }}:</p> <input ng-model="$ctrl.query" />
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <lista-grupo libros="$ctrl.libros" filter-libros="$ctrl.query">
            <lista-elemento></lista-elemento>
        </lista-grupo>
    </div>
</div>

      
