/* MODALES **/

.modal {
    font-size: $size-comun-text;
    h5 {
      font-weight: bold; 
    }
    .modal-content {
        border: $border-modal-weight-common solid $border-modal-color;
        @include border-radius(0px);
        box-shadow: none;
        .modal-header {
            border: none;
            padding: 15px 15px 5px;
            p.subtituloPrincipal {
                margin-bottom: 0;
            }
            .close {
                opacity: 1;
                height: 100%;
                &:hover,
                &:focus {
                    background: none;
                    border: none;
                    box-shadow: none;
                }
            }
            .linkFooter {
                margin-top: 0;
                padding-top: 0;
                li {
                    padding-left: 0;
                }
            }
        }
        .modal-footer {
            border: none;
            div[class^="col"] {
                padding: 0px;
            }
            ul.linkFooter {
                padding: 0px;
                text-align: left;
                li {
                    padding-left: 0px;
                }
            }
            button.azul {
                @extend .grandeAzul;
            }
        }
    }
}

.modal-backdrop.in {
    opacity: 0.8;
}


dropdown {

  display: block;
  width: 100%;
  min-height: 105px;
  &.containerDragAndDrop{
    padding:0;
  }
}
dropdown > div {

  width: 100%;
}
dropdown > div > div.dropdown-display {

  width: 100%;
  cursor: pointer;
  box-sizing: border-box;
  min-height: 105px;
}
dropdown > div > div.dropdown-display > * {

  height: 100%;
  line-height: 40px !important;
  display: inline-block;
  vertical-align: middle;

}
dropdown  div.dropdown-display div.estadoInicial {
    display: block;
  }
dropdown > div > div.dropdown-display > span {
  font-size: 14px;
  width: 100%;
  position: relative;
  box-sizing: border-box;
  padding-right: 34px;
  padding-left: 10px;
}
dropdown > div > div.dropdown-display > span.placeholder {
  color: #AAA;
}
dropdown > div > div.dropdown-display > i {
  position: relative;
  width: 14px;
  margin-left: -24px;
  font-size: 1.125em;
  font-weight: bold;
  padding-right: 10px;
  text-align: right;
}
dropdown > div > div.dropdown-list {

  position: relative;
  width: 100%;

  transform: translateZ(0);
      transform: translateY(-30%);
      transition:transform ease 250ms;
}
dropdown > div > div.dropdown-list > div {
   /* position: absolute;*/
  width: 100%;
  z-index: 2;
  cursor: pointer;

}
dropdown > div > div.dropdown-list > div > div {

  width: 100%;
  padding: 0 10px;
  font-size: 14px;
  box-sizing: border-box;
  border-top: solid 1px #DDD;
}
dropdown > div > div.dropdown-list > div > div:hover {
  background: #F0F0F0;
}
dropdown > div > div.dropdown-list > div > div.selected {
  background: #2875C7;
  color: white;
}
dropdown > div > div.dropdown-list > div > div > * {
  height: 40px;
  line-height: 40px !important;
  display: inline-block;
  vertical-align: middle;
}
dropdown > div > div.dropdown-list > div > div > span {

  width: 100%;
  position: relative;
  padding-right: 30px;
  box-sizing: border-box;
  color: inherit;
}
dropdown > div > div.dropdown-list > div > div > i {

  width: 20px;
  margin-left: -20px;
  display: none;
}
dropdown > div > div.dropdown-list > div > div.selected > i {
  display: inline-block;
}
dropdown > div.show > div.dropdown-list {
  transform: scale(1, 1);
}
