<div class="row">
    <div class="col-xs-3">
        <boton on-load="$ctrl.loadContent()">{{ 'CARGAR' | translate }}</boton>
    </div>
    <div class="col-xs-9">
        <ul class="list-group" ng-if="$ctrl.libros.length > 0">
            <li  class="list-group-item" ng-repeat="libro in $ctrl.libros">
                {{ 'AUTOR' | translate }}:</b> {{libro.autor}}</p>
                <p><b>{{ 'TITULO' | translate }}:</b> {{libro.titulo}}</p>
            </li>
        </ul>
    </div>
</div>