@media screen and (max-width: 767px){
	.table-responsive {
		overflow-y: visible;
	}
}
@media (max-width: 768px) {
	body {
		button.botonIcono span { display:none;}
		.popover button.botonIcono span { display:inherit;}
		.tituloResumen button.botonIcono span { display:inherit;}
		/*button.botonIcono img{margin-left: 0px}*/


		div.table-responsive {
			.col-xs-12 {
		 	   	padding-right: 0;
			}
		}

		/* Eliminar el separador entre los distintos link de vuelta **/
		ul.linkFooter {
			li {background:none;padding-left: 15px;}
		}

		.resumen {
			div.tituloResumen { 
				a.conSeparador {
					background: none;
				}	
			}
		}

		ul.enlacesImagen {
			& > li {background:none;padding-left:0px;}
			a {
				span { display: none; }
			}
		}

		/* Situa la fecha más a la izquierda para cuando el span de los botones se oculta **/			
		div.popover.bottom .arrow{margin-left: -25px;}		

	}

}
@media (max-width: 600px) {
	body {
		.popoverMedium {
			width: auto;
			div.row div.col-xs-12 .form-control {margin-bottom: 5px;}
		}
		/* Media query para extender a las pestañas al 100% **/
		.nav-tabs {
    		li {
    			width:100%;
    			a {
	    			margin-right: 0px;
	    			@include border-radius(0);
	    			text-align: center;
    			}
    			&:first-child a{
					@include border-radius-not-equal(5px, 5px, 0, 0);
    			}
    		}
    	}
	}
}
@media (max-width: 480px) {
	body {
		
		.inpSearchConFondo {
			width:100px;
		}
		.enEspera{
			padding:15px;
		}

		.modal {
			.modal-content {
				.descargarAutoriz a{border:none;}
			}
			.modal-footer {
				button:nth-child(2){
					margin-top: 5px;
				}
			}	
		}
	}
}
@media ( min-width: 900px ) and (  max-width: 1000px ) {
	.modal-dialog {
		width: 800px!important;
	}
 }