body {
  color: $color-body;
  font-size: $size-comun-text;

  h1 {
    color: $color-body;
    font-family: "BBVABold", arial, sans-serif;
    font-size: $size-comun-h1;
    font-weight: normal;
  }

  h2 {
    font-size: $size-comun-h2;
  }  

  p.subtituloPrincipal{
    font-size:$size-comun-text;
    color: $color-body;
    margin-bottom:20px;
    position: relative;
    top: -10px;
  }

  a.conSeparador {
    background: url("../images/separadorBotonEnlaceOscuro.png") no-repeat scroll 7% top $color-fondo-resumen;
    padding-left: 20px;
  }

  .notEvent{
    pointer-events: none;
    cursor: not-allowed;
  }
  a.notEvent {
    opacity: 0.5;
  }

  /* Estilos resumen de formulario **/     
  .resumen {
    background: $color-fondo-resumen;
    @include border-radius(5px);
    font-size: $size-comun-text;
    margin: 0;
    margin-bottom: 20px;

    div.tituloResumen {
      h2,h5{
        display: inline-block;
        margin-bottom: 0;
      }

      h2{font-size: $size-popover-h;} 
      h5 {font-size: $size-modal-h;} 

      button.botonIcono.popoverUX {margin : 0px 0px 20px 0px;}

      .resumenBotonera{
        padding:0px;
        text-align: right;
        ul{margin: 0px;}
        li{padding:0px;}
        li:not(:last-child){margin-right: -2px;}
        li:last-child button.grandeResumen{@include border-radius-not-equal(0,5px,5px,0);}
        //Situo la flecha más a la izquierda porque son botones sin span
        div.popover.bottom .arrow{margin-left: -25px;}
      }
    }
    select.form-control{
      margin-top: 5px;
      margin-bottom: 10px;
    }
  }

  /** Resumen confirmacion **/
  .resumenConfirmacion {
    margin-bottom: 30px;
    
    h2 {
      display: inline-block;
      font-size: $size-popover-h;
      margin-bottom: 15px;

      span { font-weight: bold;}
    }

    dl {
      color: $color-text-resumen-confirmacion;
      /*margin-left: 10px;*/
      dt {margin-bottom: 2px;}
      dd {
        border-bottom: 1px solid $color-detalle-resumen-confirmacion;
        padding-bottom: 5px;

        &:not(:last-child) {
          margin-bottom: 15px;
        }
      }
    } 
  }

  /* Listas descriptivas con pares cabecera: dato - dl de html**/
  .dl-horizontal {
      margin-top:20px;
        dt {
          padding-right: 5px;
          width: auto;
        }
        dd {
          margin-left: 0;
        }
        .precargado{
          display: none;
        }
  }

/* PANELES **/
  .panel-group {
      .panel-default {
          border-radius: 3px;
          box-shadow: none;

          &:not(.panel-open) {
            border: 1px solid  $common-grey
          }
          border: 1px solid $border-modal-color;
          width: 100%;
          .panel-heading {
              background: none;
              border: none;
              padding: 10px 15px 0;
              .panel-title {
                  font-size: $size-titulo-panel;
                  color: $border-modal-color;
                  font-weight: bold;
                  margin-bottom: 5px;
              }
              p.subtituloPanel {
                color: $color-comun-grey;
                font-size: 12px;
                margin-left: 32px;
              }
          }
      }
      .panel-body {
          border-top: none!important;
      }
  }
}

  
  /* Lista de enlaces de vuelta **/
  ul.linkFooter {
      font-size:$size-comun-text;
      font-weight:bold;
      margin-top:10px;
      padding-top:15px;
      padding-left: 0;

      & > li {
          background: url("../images/separadorBotonEnlaceOscuro.png") no-repeat scroll 5% center $color-comun-fondo;
          display: inline-block;
          padding-left: 25px;

          &:first-child{
              background:none;
              padding-left: 0;
          }

          span.flechaVolver {
              color: #999;
              font-size: 16px;
          }

          a.imprimir{
            padding: 1px 0 1px 22px;
            background: transparent url("../images/imprimirGris.png") no-repeat 0 center;
          }
          a.excel{
            padding: 1px 0 1px 22px;
            background: transparent url("../images/excel.png") no-repeat 0 center;
          }
      }
  }

  ul.enlacesImagen {      
      font-size:$size-comun-text;
      text-align:right;
      padding-left: 0px;

      & > li {
          background: url("../images/separadorBotonEnlaceOscuro.png") no-repeat scroll 5% center $color-comun-fondo;
          display: inline-block;
          padding-left: 15px;

          &:first-child{
              background:none;
          }
          a.descargar{
            padding: 6px 5px 5px 22px;
            background: url("../images/descargarOscuro.png") no-repeat scroll 0% center transparent;
          }
          a.imprimir{
            padding: 6px 5px 5px 22px;
            background: url("../images/imprimir.png") no-repeat scroll 0% center transparent;
          }
      }
  }

/* TABS **/

  .nav-tabs {
    li a {
      font-weight: bold;
      font-size: $size-lista-pestania-a;
      padding: 7px 14px;
      border: 1px solid $color-borde-pestania-a;
      @include border-radius-not-equal(5px, 5px, 0, 0);
      margin-right: 5px;
      background: $color-pestania-a;

      &:hover, &:active, &:focus {
        background: $color-pestania-a;
        border: 1px solid $color-borde-pestania-a;
      }
      &:hover{
        text-decoration: underline; 
      }
    }
    li.active a {
      background: $color-pestania-a-active;
      border: 1px solid $color-borde-pestania-a;
      
      &:active, &:focus {
        background: $color-pestania-a-active;
        border: 1px solid $color-borde-pestania-a;
      }
      &:hover{
        background: $color-hover-azul; 
        border: 1px solid $color-borde-pestania-a;
      }
    }
  }

  .tab-pane {
    background: $color-pestania-a-active;
    border: 1px solid $color-borde-pestania-a;
    border-top: none;
    border-radius: 0 0 5px 5px;
    padding: 30px 15px;
  }

  .mostrarMas a {
    background: url("../images/mas16x16Gris.png") no-repeat scroll 1% 50% / 16px auto transparent;
    padding-bottom: 2px;
    padding-left: 32px;
    padding-top: 2px;
    color: $color-formulario-a;
    &.mostrarMenos {
      background: url("../images/menos16x16Azul.png") no-repeat scroll 1% 50% / 16px auto transparent;
    }
  }

.margin-left-20 {
  margin-left:20px;
}

/** FUENTES **/
@font-face {
  font-family: "BBVABold";
  src: url("fonts/bbvaweb-book.eot?") format("embedded-opentype"),
  url("fonts/bbvaweb-book.woff") format("woff"),
  url("fonts/bbvaweb-book.ttf") format("opentype"),
  url("fonts/bbvaweb-book.svg") format("svg");
  font-style: normal;
  font-stretch: normal;
}