<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">CURSO DE ANGULARJS</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href ng-click="$ctrl.goNextState('mainapp')">{{ 'PRINCIPAL' | translate }}</a></li>
                <li><a href ng-click="$ctrl.goNextState('about')">{{ 'ABOUT' | translate }}</a></li>
            </ul>
        </div>
    </div>
</nav>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<div class="row">
    <div class="col-xs-12">
        <titulo>{{ 'ABOUT' | translate }}</titulo>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <parrafo>{{ 'GALLIA' | translate }}</titulo>
    </div>
</div>