<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">CURSO DE ANGULARJS</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li ng-class="$ctrl.getClass('main')"><a href ng-click="$ctrl.goNextState('mainapp')">{{ 'PRINCIPAL' | translate }}</a></li>
                <li ng-class="$ctrl.getClass('about')"><a href ng-click="$ctrl.goNextState('about')">{{ 'ABOUT' | translate }}</a></li>
            </ul>
        </div>
    </div>
</nav>